@import '../../../themes/kundi/assets/styles/partials/header';

.site-header {
  padding: 50px 60px;
  padding-top: 15px;
}

.title {
  padding-top: 0;
}

.site-menu {

  .menu-item {
    padding-top: 0;
  }
}