$primary: #2bb39a;

@import '../../../themes/kundi/assets/styles/partials/variables';

$main-background: $black;
$text: #fff;

$navbar-bg: #141414;
$navbar-link-color: #fff;
$navbar-active-link-color: #fff;
$toggle-menu-icon-color: #fff;

$footer-bg: $black;
$footer-text-color: $white;

$btn-color: $white;

$author-social-icon-color: $primary;

$post-box-bg: #161616;
