@import '../../../themes/kundi/assets/styles/partials/variables';

$main-background: $black;
$text: #fff;

$navbar-bg: $black;
$navbar-link-color: #ccc;

$footer-bg: $black;
$footer-text-color: $white;

$btn-color: $white;
